In [ ]:
name=input('enter your name')
age=int(input('enter your age'))

enter your nameDipson Chaudhary
enter your age18

In [ ]:
print(name)
print(type(name))
print(age)
print(type(age))
print((name+'\n')*10)

Dipson Chaudhary
<class 'str'>
18
<class 'int'>
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary

In [ ]:
print((name+'\n')*10)

Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary
Dipson Chaudhary

In [ ]:
my_first_var=int #this is my first variable

In [ ]:
print('my name is',name)
print('i am',age,'years old')

my name is Dipson Chaudhary
i am 18 years old

In [ ]:
print(f'my name is {name}. I am {age} years old')
print(f' I am {age} years old')

my name is Dipson Chaudhary. I am 18 years old
 I am 18 years old

Complex no. system

In [ ]:
x=4+0j
y=0+7j
if(x.imag==0):
  print('This is Real NO.')
  if(y.real==0):
    print('This ia an Imaginary no')

This is Real NO.
This ia an Imaginary no

In [ ]:
a=2+3j
b=1-1j

print('conjugate of a: ', a.conjugate())

conjugate of a:  (2-3j)

In [ ]:
print('sum of a:',a+b)
print('multiplication of a:',a*b)
print('divison of a:',a/b)
print('sub of a:',a-b)

sum of a: (3+2j)
multiplication of a: (5+1j)
divison of a: (-0.5+2.5j)
sub of a: (1+4j)

In [ ]:
text=('  Iam an engineer')
print(text.lower()) #convert char into lowercase in the string
print(text.upper()) #convert char into lowercase in the string
print(text.strip())
print(text.split(" ",-1))
print(text.replace('an engineer','pappu python'))

  iam an engineer
  IAM AN ENGINEER
Iam an engineer
['', '', 'Iam', 'an', 'engineer']
  Iam pappu python

In [ ]:
number=int (6280331189)
int(str(number)[::-1])

9811330826

In [ ]:
list=[2,2,3,3,4,4,5,5]
print(list)
set=[1,2,3,4,5,6,7,8,9]
print(set)
list.append(10)
print('append',list)

[2, 2, 3, 3, 4, 4, 5, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
append [2, 2, 3, 3, 4, 4, 5, 5, 10]

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9]
copy_list=my_list.copy()
copy_list.reverse()
if(my_list==copy_list):
  print('palindrom')
else:
  print('not palindrom')
print('copy_list',copy_list)

not palindrom
copy_list [9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
list=[[9,3,5],[8,5,2],[4,5,6]]
print('marks of student',list[2][0])
list.append([1,2,3])
print('append',list)

marks of student 4
append [[9, 3, 5], [8, 5, 2], [4, 5, 6], [1, 2, 3]]

In [ ]:
fruits=['apple','banana','cherry']
print(fruits[-2])

banana

In [ ]:
'apple'in fruits

True

In [ ]:
'cake 'in fruits

False

In [ ]:
fruits.pop(1)

'banana'

In [ ]:
fruits

['apple', 'cherry']

In [ ]:
fruits.sort()

In [ ]:
print(fruits.index('apple'))

0

In [ ]:
print(fruits.count('apple'))

1

nested list

In [ ]:
list1=[[1,2,3],[4,5,6],[7,8,9]]
print(list1)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
list1[-1]
print(4 in list1)
print(4,5 in list1)

False
4 False

In [ ]:
list2=[[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
print(list2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(list2[2][0])

7

For Loop

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
letter=["hello world"]
for letter in range(5):
  print(i)
print(letter)

4
4
4
4
4
4

In [ ]:
fruits=[fruits]
for fruits in fruits:
  print(fruits)

['apple', 'cherry']

While loop

In [ ]:
count=0
i=0
while i<5:
  print(i)
  i +=1

0
1
2
3
4

In [ ]:
for x in range(2,7):
  print(x)

2
3
4
5
6

In [ ]:
fruits={'apple','banana','cherry','orange','banana'}
print(fruits)

{'banana', 'apple', 'orange', 'cherry'}

In [ ]:
#tuple unpacking
fruits=('apple','banana','cherry')
(Red,Yellow,BloodRed)=fruits
print(Yellow)

banana

In [ ]:
import time
import sys

del list
L = list(range(100000))   # List of 100,000 integers
T = tuple(range(100000))  # Tuple of 100,000 integers

# Measure time to loop through list
start = time.time()
for i in L:
    i * 10
print("List time= ", time.time() - start)

# Measure time to loop through tuple
start = time.time()
for i in T:
    i * 10
print("Tuple time= ", time.time() - start)

# Memory comparison
print("List size =", sys.getsizeof(L))
print("Tuple size =", sys.getsizeof(T))

List time=  0.01109457015991211
Tuple time=  0.00711512565612793
List size = 800056
Tuple size = 800040